<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>BOULDER🥩BEEF</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/app.js"></script>
	<link href="/main.css" rel="stylesheet" />
</head>

<body>
	{{{ body }}}
</body>

</html>