* {
    font-family: Consolas, 'Courier New', monospace;
    text-decoration: none;
    list-style: none;
}

.post {
    margin: 5px 0 0 0;
}

.comment {
    display: inline-block;
    margin: 5px 0 0 0;
}

.comment-date {
    display: inline-block;
    color: #864c4c;
}

.input-comment {
    width: 70vw;
    margin: 0 0 0 15vw;
}

.post-comment {
    color: black;
    background-color: white;
    border-style: black 2px;
    border-radius: 10px;
}

small {
    font-size: 75%;
}